{# On utilise ici le layout général, qui se situe dans ce même AppBundle maintenant #}
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Page d'accueil - {{ parent() }}
{% endblock %}

{% block body %}

    <div>

        {# On affiche tous les messages flash dont le nom est « notice » #}

        {% for message in app.session.flashbag.get('notice') %}
            <div class="alert alert-success" role="alert">
                <p>{{ message }}</p>
            </div>


        {% endfor %}

    </div>

    <h2>Page d'accueil de notre site</h2>

    <p>Bienvenue sur votre futur application de gestion de RDV pour clinique vétérinaire</p>

    <h2>Tous les animaux par ordre de MAJ</h2>

    <ul class="list-group">
        {% for animal in listeAnimaux %}
            <li class="list-group-item">
                <h3>
                <a href="{{ path('app_viewAnimal', {'id': animal.id}) }}">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                    {{ animal.nom }}
                    
                </a>
                    <span class="label label-default">{{ animal.dateMaj|date('d/m/Y H:m:s') }}</span>
                </h3>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
